Source: arangodb3e
Section: database
Priority: optional
Maintainer: ArangoDB GmbH <info@arangodb.com>
Build-Depends: debhelper (>= 9), docker-ce

Package: arangodb3e
Architecture: amd64
Depends: ${misc:Depends}
Conflicts: arangodb3e-client, arangodb3, arangodb3-client
Description: a multi-model NoSQL database
 A distributed free and open-source database with a flexible data model for documents,
 graphs, and key-values. Build high performance applications using a convenient
 SQL-like query language or JavaScript extensions.
 .
 Copyright: 2012-2013 by triAGENS GmbH
 Copyright: 2014-2018 by ArangoDB GmbH
 ArangoDB Software
 www.arangodb.com

Package: arangodb3e-client
Architecture: amd64
Depends: ${misc:Depends}
Conflicts: arangodb3e, arangodb3, arangodb3-client
Description: stand-alone shell
 A distributed free and open-source database with a flexible data model for documents,
 graphs, and key-values. Build high performance applications using a convenient
 SQL-like query language or JavaScript extensions.
 .
 Copyright: 2012-2013 by triAGENS GmbH
 Copyright: 2014-2018 by ArangoDB GmbH
 ArangoDB Software
 www.arangodb.com

Package: arangodb3e-dbg
Architecture: amd64
Section: debug
Priority: extra
Depends:
    arangodb3e (= ${binary:Version}),
    ${misc:Depends}
Description: debugging symbols for arangodb
 A distributed free and open-source database with a flexible data model for documents,
 graphs, and key-values. Build high performance applications using a convenient
 SQL-like query language or JavaScript extensions.
 .
 This package contains the debugging symbols.
